body {
    background-image: linear-gradient(90deg, #ddf, #bcd);
    font-family: Ubuntu;
}

.semestre{
    margin: 2em 2em;
    background-color: #f5f5f5;
    display: inline-block;
    border-radius: .4em;
    padding: .5em 2em;
    width: 20em;
    border: solid gray 2px;
    
}

/* to do:
 * centrar título del semestre al contenedor
 */