body {
    background-image: linear-gradient(90deg, #add, #aeb);
    font-family: Ubuntu;
}

.semestre{
    margin: 2em 1.2em;
    background-color: #f5f5f5;
    display: inline-block;
    border-radius: .4em;
    padding: .5em 1em;
    width: 22em;
    border: solid #999 2px;
    vertical-align: top;
}

.asignatura{
    margin:.5em;
    padding: .5em;
    border-top: solid #aaa 1px;
    text-align: left;
}

h2{
    text-align:center;
}

.header{
    color: #fff;
    text-shadow: 2px 0 0 #444, -2px 0 0 #444, 0 2px 0 #444, 0 -2px 0 #444, 1px 1px #444, -1px -1px 0 #444, 1px -1px 0 #444, -1px 1px 0 #444;
    text-align: center;
}

.boton-asignatura {
    float: right;
    cursor: pointer;
    position: relative;
}

.detalles-asignatura {
    background-color: #bcd;
    position: absolute;
    top: 0;
    left: 150%;
    padding: 1em;
    width: 18em;
    border-radius: .4em;
    display: block;
    border: solid #999 2px;
    cursor: auto;
}

.mono{
    font-family: monospace;
    font-size: 1.2em;
}

ul{
    list-style: none;
}


ul:last-child{
    margin-bottom: 0;
}
.tick{
    color: green;
    width:1em;
    display: inline-block;
}

.cross{
    color: red;
    width:1em;
    display: inline-block;
}

.indent{
    width:1em;
    display: inline-block;
}